/* general classes start */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.item-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
}

.item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}

.section-main-title {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* general classes end */

/* header-styles stars*/
.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo > .logo-span {
  color: #2e2f42;
}

nav .navigation-pages {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

nav .navigation-pages .page-link {
  color: #2e2f42;
  letter-spacing: 0.02em;
}

nav .navigation-pages .page-link:hover,
nav .navigation-pages .page-link:focus,
nav .navigation-pages .page-link:active {
  color: #404bbf;
}

.company-contacts {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.company-contacts .contact {
  color: #434455;
}

.company-contacts .contact:hover,
.company-contacts .contact:focus {
  color: #404bbf;
}

/* main-block-styles start*/
/* introduction-section */
.introduction-section {
  background-color: #2e2f42;
}

.introduction-section .page-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

.introduction-section .order-service-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
}

.introduction-section .order-service-button:hover,
.introduction-section .order-service-button:focus {
  background-color: #404bbf;
}

/* advantages-section */
.advantages-section {
}

.advantages-section > .adv-list {
}

/* team-section*/
.team-section {
  background-color: #f4f4fd;
}

.team-section .section-main-title {
  text-align: center;
}

.team-section .member-card {
  background-color: #ffffff;
}

.team-section .member-card .member-photo {
}
.team-section .member-card .item-title {
  text-align: center;
}

.team-section .member-card .item-text {
  text-align: center;
}

/* portfolio section */

.portfolio-section {
}

.project-card {
}

.portfolio-section .section-main-title {
  text-align: center;
}

.portfolio-section .project-card {
}

.project-card .project-preview {
}

/* footer*/
.footer {
  background-color: #2e2f42;
}

.footer .item-text {
  color: #f4f4fd;
}

.footer .logo > .logo-span {
  color: #f4f4fd;
}
